<main>
  <div id="valueProposition">
    <h1>
      Évaluez vos droits à {{ prestationsNationalesCount + partenairesLocauxCount }} aides sociales.<br/>
      En moins de 7 minutes.
    </h1>

    <a class="btn btn-primary btn-lg" ui-sref="foyer.demandeur" ng-click="newSituation()">Évaluer mes droits</a>

    <p>Ce questionnaire en ligne simple vous donnera un montant mensuel pour chaque prestation et vous donnera accès aux démarches.</p>
  </div>

  <div class="container">
    <div class="frame-aides-homepage whiteframe-z1">
      <h2 class="text-center">{{ prestationsNationalesCount + partenairesLocauxCount }} aides sociales. Une seule simulation.</h2>
      <div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <dd>
              <div>
                <p>
                  Mes Aides est un simulateur en ligne qui permet d’estimer les aides sociales qu'une personne peut demander à partir d’une description simple de sa situation. En fin de simulation, des liens sont proposés pour en savoir plus et sur les démarches à faire.
                </p>
                <p>
                  Mes Aides s'améliore en continue grâce à vos retours. Vous pouvez nous contacter sur la page des résultats si vous constatez un écart : toutes les suggestions sont prises en compte afin d’améliorer notre interface et  <a ui-sref="a-propos_openfisca">notre moteur de calcul</a>.
                </p>
                <p>
                  Les principales aides nationales sont déjà incluses dans le simulateur. Vous pouvez accéder au détail de <a ui-sref="touteslesaides">toutes les aides</a> que nous calculons actuellement :
                  <ul>
                    <li ng-repeat="provider in prestationsNationales | orderObjectBy:'prestations':true">
                      <!-- A ancrer correctement -->
                      <a ui-sref="touteslesaides">{{ provider.label }}</a>
                    </li>
                  </ul>
                  Ainsi que celles de nos partenaires locaux :
                  <ul>
                    <li ng-repeat="provider in prestationsLocales | orderObjectBy:'prestations':true">
                      <!-- A ancrer correctement -->
                      <a ui-sref="touteslesaides">{{ provider.label }}</a>
                    </li>
                  </ul>
                </p>
              </div>
            </dd>
          </div>
        </div>
      </div>
      <hr>
      <h2 class="text-center">Sept minutes suffisent pour une première estimation.</h2>
      <div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <dd>
              <div>
                <p>
                  Si Mes Aides permet à plus de la moitié de ses utilisateurs d’avoir une réponse en moins de sept minutes, c’est parce que le simulateur intègre plusieurs raccourcis pour faciliter la saisie. Par exemple, lorsque vous entrez un salaire mensuel, nous partons du principe que ce salaire était le même tout au long de l’année passée.
                  <br><br>
                  Pour avoir des résultats plus précis par rapport à votre situation, vous pouvez au cours ou à la fin de la simulation :
                  <ul>
                    <li>détailler vos ressources sur les 3 derniers mois</li>
                    <li>indiquer le total de vos ressources sur les 12 derniers mois</li>
                    <li>entrer les ressources de votre dernière déclaration de revenus (en {{ current_year }}, il s'agit de la déclaration {{ previous_year }} sur les revenus {{ yearMoins2 }})</li>
                    <li>préciser les aides que vous recevez déjà et à quel montant</li>
                    <li>ajouter des informations sur votre épargne et votre patrimoine</li>
                  </ul>
                  Vous pouvez entrer les montants de mémoire ou vous référer aux documents officiels : aucune information que vous entrez sur le simulateur n’est ensuite transmise directement aux organismes.
                </p>
              </div>
            </dd>
          </div>
        </div>
      </div>
      <hr>
      <h2 class="text-center">Dernières améliorations notables du simulateur</h2>
      <div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <dd>
              <div>
                <ul>
                  <li>Janvier 2019 : Refonte de la page de résultats pour une meilleure lisibilité</li>
                  <li>Janvier 2019 : Revalorisation du calcul de la prime d'activité.</li>
                  <li>Fin 2018 : ajout de l'Allocation Adulte Handicapée</li>
                </ul>
              </div>
            </dd>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</main>
