<main>
  <div id="valueProposition">
    <h1>
      Évaluez vos droits à {{ prestationsNationalesCount + partenairesLocauxCount }} aides sociales.<br/>
      En moins de 7 minutes.
    </h1>

    <a class="btn btn-primary btn-lg" ui-sref="foyer.demandeur" ng-click="newSituation()">Évaluer mes droits</a>

    <p>Ce questionnaire en ligne simple vous donnera un montant mensuel pour chaque prestation et vous donnera accès aux démarches.</p>
  </div>


  <!-- Google considère jusqu'à présent cette partie comme très importante : à surveiller sur la rédaction -->
  <div class="container">
    <div class="frame-aides-homepage whiteframe-z1">
      <h2 class="text-center">{{ prestationsNationalesCount + partenairesLocauxCount }} aides sociales. Une seule simulation.</h2>
      <div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <dd>
              <div>
                <p>
                  Mes Aides est un simulateur en ligne qui permet d’estimer les prestations sociales auxquelles une personne est éligible à partir d’une description simple de sa situation. En fin de simulation, des liens sont proposés pour en savoir plus sur les aides proposées ainsi que sur les démarches à faire.
                </p>
                <p>
                  Mes Aides est amélioré en continue grâce à vos retours. Vous pouvez nous contacter sur la page des résultats si vous constatez un écart : toutes les suggestions sont prises en compte afin d’améliorer notre interface et notre moteur de calcul (OpenFisca).
                </p>
                <p>
                  Les principales aides nationales comme le RSA, la prime d'activité ou encore les allocations logements sont déjà incluses dans le simulateur. Vous pouvez accéder à la liste des {{ prestationsNationalesCount + partenairesLocauxCount }} aides que nous calculons actuellement.
                </p>
              </div>
            </dd>
          </div>
        </div>
      </div>
      <hr>
      <h2 class="text-center">Sept minutes suffisent pour une première estimation.</h2>
      <div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <dd>
              <div>
                <p>
                  Si Mes Aides permet à plus de la moitié de ses utilisateurs d’avoir une réponse en moins de sept minutes, c’est parce que nous faisons plusieurs approximations de calcul pour vous faciliter la saisie. Par exemple, lorsque vous entrez un salaire mensuel, nous partons du principe que ce salaire était le même tout au long de l’année passée.
                  <br><br>
                  Pour avoir des résultats plus précis par rapport à votre situation, vous pouvez au cours ou à la fin de la simulation :
                  <ul>
                    <li>détailler vos ressources sur les 3 derniers mois</li>
                    <li>indiquer le total de vos ressources sur les 12 derniers mois</li>
                    <li>entrer les ressources de votre dernière déclaration de revenus</li>
                    <li>préciser les aides que vous recevez déjà et à quel montant</li>
                    <li>ajouter des informations sur votre épargne et votre patrimoine</li>
                  </ul>
                  Vous pouvez entrer les montants de mémoire ou vous référer aux documents officiels : aucune information que vous entrez sur le simulateur n’est ensuite transmise directement aux organismes.
                </p>
              </div>
            </dd>
          </div>
        </div>
      </div>
      <hr>
      <h2 class="text-center">Dernières améliorations notables du simulateur</h2>
      <div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <dd>
              <div>
                <ul>
                  <li>Janvier 2019 : Revalorisation du calcul de la prime d'activité.
                  </li>
                </ul>
              </div>
            </dd>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</main>
