<div class="row additional-info-cta">
  <div class="col-sm-8">
    <p>
      <i class="fa fa-warning text-warning" aria-hidden="true"></i>
      <strong>Ces aides se basent sur vos ressources {{ yearMoins2 }}. Nous avons supposé qu'elles étaient les mêmes qu’entre {{ debutPeriode }} et {{ finPeriode }}. Déclarez vos ressources {{ yearMoins2 }} pour une meilleure estimation.</strong>
    </p>
  </div>
  <div class="col-sm-4">
    <a class="btn btn-success btn-block" ui-sref="foyer.ressourcesYearMoins2">Déclarez vos ressources {{ yearMoins2 }}</a>
  </div>
</div>
