<article class="text container">

  <!-- Ajouter paragraphe d'introduction  -->

  <!-- Ajouter paragraphe d'incitation pour les organismes pour ajouter de nouvelles aides -->


  <!-- Version de travail : ressources récupérées de la homepage -->
  <div class="container">
    <div class="frame-aides-homepage whiteframe-z1">
      <h2 class="text-center">{{ prestationsNationalesCount }} aides nationales évaluées par le simulateur</h2>
      <div ng-repeat="provider in prestationsNationales | orderObjectBy:'prestations':true">
        <hr>
        <div class="row">
          <div class="text-center col-md-2">
            <img ng-src="/img/{{ provider.imgSrc }}" alt="{{ provider.label }}"/>
          </div>
          <div class="col-md-10">
            <dl ng-repeat="droit in provider.prestations">
              <dt>{{ droit.label }}</dt>
              <dd>
                <div ng-bind-html="droit.description"></div>
                <a ng-if="droit.link" href="{{ droit.link }}" target="_blank" rel="noopener">En savoir plus <i class="fa fa-external-link" aria-hidden="true"></i></a>
              </dd>
            </dl>
          </div>
        </div>
      </div>
      <hr>
      <h2 class="text-center">{{ partenairesLocauxCount }} aides locales évaluées par le simulateur</h2>
      <div ng-repeat="provider in partenairesLocaux | orderObjectBy:'prestations':true">
        <hr>
        <div class="row">
          <div class="text-center col-md-2">
            <img ng-src="/img/{{ provider.imgSrc }}" alt="{{ provider.label }}"/>
          </div>
          <div class="col-md-10">
            <dl ng-repeat="droit in provider.prestations">
              <dt>{{ droit.label }}</dt>
              <dd>
                <div ng-bind-html="droit.description"></div>
                <a ng-if="droit.link" href="{{ droit.link }}" target="_blank" rel="noopener">En savoir plus <i class="fa fa-external-link" aria-hidden="true"></i></a>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>

</article>
