gunicorn>=19.1.1
openfisca_france==20.4.1
git+https://github.com/betagouv/openfisca-paris.git@b8ca88d5f71c6a85c07eb8368fd30dce8505ca42#egg=openfisca-paris
git+https://github.com/betagouv/openfisca-brestmetropole.git@2b943bf9bdd37fa209a5c73774fa473a9e69e09d#egg=openfisca-BrestMetropole
git+https://github.com/betagouv/openfisca-pau.git@c07bf6fab6a7ffd08385a876483a6c5e4fb2fac0#egg=openfisca-Pau
git+https://github.com/betagouv/openfisca-rennesmetropole.git@6122c83fc9a299f625ecd837adae7bf406fa1d5f#egg=openfisca-RennesMetropole
